boto==2.48.0
boto3==1.7.46
botocore==1.10.46
bz2file==0.98
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
decorator==4.3.0
docutils==0.14
gensim==3.4.0
idna==2.7
jmespath==0.9.3
kiwisolver==1.0.1
matplotlib==2.2.2
networkx==2.1
numpy==1.14.5
pandas==0.23.1
py2neo==3.1.2
PyMySQL==0.8.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
requests==2.19.1
s3transfer==0.1.13
scipy==1.1.0
six==1.11.0
smart-open==1.5.7
urllib3==1.23
xlrd==1.1.0
